<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/addproduct.css")
        title Add Product...
    body
        form.form(method='POST' action="/addpro")
            h1.heading kindly enter the Product name to add it....
            input.inp1(type='text' name='proname')
            input.btn1(type='submit' value="ADD")

