<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Products...
        link(rel="stylesheet", href="/css/products.css")
    body
        h1.heading The products are...
